$purple-600: #5a2b9c;
$purple-500: #754dee;
$purple-400: #8a5fff;
$purple-300: #9f7eff;
$purple-200: #b3a1ff;
$purple-100: #c8c4ff;

$gray-600: #0d0e0e;
$gray-500: #181a1b;
$gray-400: #1b1d1e;
$gray-300: #272a2c;
$gray-200: #333638;
$gray-100: #3f4346;

$white-600: #46434a;
$white-500: #6a665a;
$white-400: #8e8a7f;
$white-300: #b2aca2;
$white-200: #e8e6e3;
$white-100: #f2f2f2;

$status-green: #66cc66;
$status-red: #cc6666;
$status-yellow: #cccc66;
$status-blue: #6666cc;