h1,
h2,
h3,
h4,
h5,
h6 {
    /* Clears all default margins */
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0.25rem;
}

h2 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0.25rem;
}

h3 {
    font-size: 1.125rem;
    margin-top: 0;
    margin-bottom: 0.25rem;
}

h4 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0.25rem;
}

h5 {
    font-size: 0.875rem;
    margin-top: 0;
    margin-bottom: 0.25rem;
}

h6 {
    font-size: 0.75rem;
    margin-top: 0;
    margin-bottom: 0.25rem;
}
