@use '../../../assets/scss/theme';
@use '../../../assets/scss/breakpoints';

.container-component-career-entry {
    display: flex;
    flex-direction: column;
    
    .display-career-item-date-mobile {
        font-size: 0.8rem;
        color: theme.$white-300;
        height: 2rem;
        align-items: center;
        text-wrap: nowrap;
        display: flex;
    }

    .display-career-item-title {
        display: flex;
        gap: 16px;
        align-items: center;
        font-weight: 600;
        font-size: 1.25rem;
    }

    .display-career-item-where {
        padding-top: 8px;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        align-items: center;
        color: theme.$white-300;
        // white-space: nowrap;
        
        .display-career-item-company,
        .display-career-item-location {
            white-space: nowrap;

            & > a {
                & > span:not(.fa-fw) {
                    white-space: normal;
                }
            }

            & > span:not(.fa-fw) {
                white-space: normal;
            }

        }
    }

    
    @include breakpoints.md {
        .display-career-item-date-mobile {
            display: none;
        }
    }
}
