@use '../../../assets/scss/theme';
@use '../../../assets/scss/breakpoints';

.container-component-navigation-tabs {
    display: flex;
    flex-direction: row;
    gap: 8px;
    user-select: none;
    color: theme.$white-300;
}
